<%- include('../partials/header') %>
<%- include('../partials/menu') %>

<main>
  <div class="container">
    <form id="search-form">
      <div class="form-group">
        <label for="search-input">Search:</label>
        <input type="text" class="form-control" id="search-input" placeholder="Enter search terms">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <div id="results">
      
    </div>
    <div id="review-modal" class="modal">
      <div class="modal-content">
        <h4>Add Review</h4>
        <div class="modal-body">
          <div class="form-group">
            <label for="item-input">Item:</label>
            <input type="text" class="form-control" id="item-input" readonly>
          </div>
          <div class="form-group">
            <label for="review-input">Review:</label>
            <textarea class="form-control" id="review-input" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-buttons">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
          <input type="submit" class="btn btn-default btn-primary" data-dismiss="modal" value="Save Review" id="submit-button"/>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>